.playerContainer {
  align-items: center;
  width: 100%;

  .title {
    padding-bottom: 12px;
  }

  .group {
    font-size: 18px;
    padding-bottom: 12px;
    width: 200px;
  }

  .field {
    padding-bottom: 12px;
    width: 200px;
  }
}
